body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  display: flex;
  justify-content: center;
  margin-left:auto;
  margin-right:auto;
  
}

.NavLink {
  padding-right: 25px;
  padding-left: 25px;
  margin: 20px;
  text-decoration: none;
  font-family: Comic Sans MS;
  font-size: 35px;
  border: 2px;
  background-color: orange;
  border-radius: 10px;   
}

section {
  width: 500px;
  margin: auto
}

.centered-text {
  margin: 10px;
  text-align: center;
  font-family: Comic Sans MS
}

.comic {
  font-family: Comic Sans MS;
}

.character-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.character-card{
  text-align: center;
  font-family: Comic Sans MS;
  width: 40%;
  padding: 10px;
  background-color: pink;
  margin: 10px;
  border-radius: 20px;
}

.cardImage {
  border-radius: 15px;
  width: 90%;
}