body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  margin-left:auto;
  margin-right:auto;
  width:1000px;
  
}

.NavLink {
  padding: 50px;
  text-decoration: none;
  font-family: Comic Sans MS;
  font-size: 35px;
  border: 2px;   
}

section {
  width: 500px;
  margin: auto
}

.centered-text {
  text-align: center;
  font-family: Comic Sans MS
}

.comic {
  font-family: Comic Sans MS;
}